@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quicksand:wght@300..700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
  font-family: 'Urbanist', system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0E0E0E;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html body {
  color: #F9F9F9 !important; /* Force light text */
  background-color: #0E0E0E !important; /* Force dark background */
}

.radial_sub_title {
  @apply text-transparent bg-clip-text bg-[radial-gradient(circle_at_center,_#F9F9F9_0%,_#6A6A6A_100%)] font-semibold text-4xl lg:text-5xl mx-auto leading-relaxed
}

.badge-drop-shadow {
  @apply drop-shadow-[0px_6px_18px_rgba(255,52,33,0.3)]
}

.badge-inner-shadow {
  @apply shadow-[inset_0px_-14px_24px_rgba(46,3,3,0.4)]
}

.home-banner {
  background-image: url("/bg_home_wirandi.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-banner {
  background-image: url("/organisasi_banner_svg.svg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.wira-ariandi-banner {
  background-image: url("https://res.cloudinary.com/rafirfansyah/image/upload/v1738778709/wira_ariandi_banner_rcjvjg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wira-ariandi-utama-banner {
  background-image: url("https://res.cloudinary.com/rafirfansyah/image/upload/v1738780615/wira_ariandi_utama_banner_rapefu.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.etam-wira-banner {
  background-image: url("https://res.cloudinary.com/rafirfansyah/image/upload/v1739109721/pt_etam_wira_banner_yomknv.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}